# 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

'*' its a mathematical operator for multiplication so its an expression

In [1]:
a='hello'
type(a)

str

'hello' its a string so it is a value

In [2]:
a=-87.8
type(a)

float

-87.8 is a float datatype and it represent a value

'#' - , / , +  these are mathematical operators so these are expressions

6 it's an integer value.

# 2. What is the difference between string and variable?

String is a type of data than can be stored in a variable. It represents the values inside the quotes.
Variable is a name given to the location in memory which can store the values like any number or string

# 3. Describe three different data types.

1) int: This function is used to get integer data type values. Integers can be zero,positive or negative whole numbers
    without fractional part.
2) str: This function is used to get the string data type values. String is a collection of one or more characters
    put in single or double quote.
3) float: This function is used to get the floating values i.e that have decimal points.
    floating point number can be represented as '1.0' and integer can be represented as '1'

# 4. What is an expression made up of? What do all expressions do?

An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated
For example any string is also an expressions since it represents the value of the string.
The evaluation of an expression produces a value, which is why expressions can appear on the right hand side 
of assignment statements. A value all by itself is a simple expression, and so is a variable. 
Evaluating a variable gives the value that the variable refers to.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [23]:
spam=10

A statement is an instruction that the Python interpreter can execute.
In the above assignment statement it does not return a value its simply executed.
An expression is a combination of values and functions that are combined and interpreted 
by the compiler to create a new value, as opposed to a statement which is just a standalone 
unit of execution and doesn't return anything.
Other type of statements in Python are – if statement, else statement, while statement, for statement, import statement, etc.
Evaluation of an expression always Produces or returns a result value.
Execution of a statement may or may not produces or displays a result value, it only does whatever the statement says.
Every expression can’t be a statement.
Every statement can be an expression.
Example of expression: a + 10
Example of statement: a = 10

# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [6]:
bacon = 22
bacon + 1

23

In [7]:
bacon

22

variable bacon will conatin value 22

# 7. What should the values of the following two terms be?

In [8]:
'spam'+'spamspam'

'spamspamspam'

The above concatenates the two strings together 'spam' & 'spamspam'

In [9]:
'spam' * 3

'spamspamspam'

The above operation concatenates the word 'spam' three times

# 8. Why is eggs a valid variable name while 100 is invalid?

In [10]:
eggs=100
eggs

100

In [12]:
100='eggs'
100

SyntaxError: cannot assign to literal (<ipython-input-12-3721d402feea>, line 1)

In [13]:
1egg=10
1egg

SyntaxError: invalid syntax (<ipython-input-13-2b6978cf91b5>, line 1)

As we can see above python allows only text to be assigned as variable name while it does not allow literals as a variable

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [18]:
#suppose
a=100.23

In [19]:
int(a)

100

In [20]:
float(a)

100.23

In [21]:
str(a)

'100.23'

So we 'int' is used to get the integer version, 'float' is used to get the floating-point number version and 'str' for string version of a value.

# 10. Why does this expression cause an error? How can you fix it?

In [14]:
'I have eaten '+99+'burritos'

TypeError: can only concatenate str (not "int") to str

In [16]:
'I have eaten '+str(99)+' burritos'

'I have eaten 99 burritos'

As we can see above the integer can't be concatenated with string value so we had to convert '99' to string data type and then run the statement again.